.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .8);
}

.headerOptions {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  height: fit-content;
  position: relative;
  left: 5vw;
}

.investify {
  position: absolute;
  font-size: 2.5rem;
  font-family: "Poppins",;
  background-image: linear-gradient(to right, #784E3D, #3D2216);
  background-size: 200px;
  background-clip: text;
  color: transparent;
  left: 5vw;
  top: 2vh;
}

.userContainer {
  display: flex;
  position: relative;
  left: 23vw;
}

.userImage {
  border-radius: 1000px;
  margin: 0 2rem;
  height: 5vh;
  outline: 2px solid #784E3D;
  width: auto;
}

.userName {
  margin-top: 1vh;
}

.userName, .middle, .investify {
  font-weight: 800;
}

.left, .middle, .right {
  font-size: 1.2rem;
}

.left:hover, .middle:hover, .right:hover {
  /* -webkit-animation-name: increaseFontSize; 
  -webkit-animation-duration: 1s; 
  -webkit-animation-timing-function: ease-in-out; 
  -webkit-animation-fill-mode: forwards;  */
  font-size: 1.5rem;
  text-decoration: underline;
}

/* @-webkit-keyframes increaseFontSize {
  0% {
    font-size: 1rem;
  }
  100% {
    font-size: 1.5rem;
  }
} */

.dropDown {
  display: flex; 
  flex-direction: column;
  position:absolute;
  top: 4.5rem;
  right: 1.5rem;
  width: 120px;
  padding: 15px;
  border-radius: 8px;
  color: #784E3D;
  font-weight: 600;
  background-color: #FEC48D;
  border: 2px solid #3D2216;
}

.dropDown::before {
  content: '';
  position: absolute;
  top: -0.7rem;
  right: 1.1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #FEC48D;
  border-left: 2px solid #3D2216;
  border-top: 2px solid #3D2216;
}