.addContainer {
  display: flex;
  justify-content: center;
}

.header {
  font-weight: 600;
  color: #FFE5CC;
  display: flex;
  justify-content: center;
}

.container {
  background-color: #784E3D ;
  border-radius: 15px;
  padding: 2rem 2.4rem;
  margin: 5rem;
}

.container form {
  display: flex;
  flex-direction: column;
}

.input {
  margin-top: 1rem;
  padding: .4rem 1rem;
  border-radius: 5px;
  width: 10vw;
  background-color: #FFE5CC;
}

.submission {
  background-color: #784E3D;
  color: #FFE5CC;
  font-size: .75rem;
  padding: .625rem 2.1rem;
  border: 1px solid #FFE5CC;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 2rem;
  cursor: pointer;
}