.todayContainer {
  outline: 2px solid #784E3D;
  background-color: #FFD7B3;
  margin: 2rem 0 0 2rem;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  width: 20rem;
  height: 18rem;
}

.todayTitle {
  font-size: 2rem;
  font-weight: 700;
  width: 10rem;
}

.totalTitle, .stocksTitle, .cryptoTitle {
  display: flex;
  font-size: 1.2rem;
  margin: .3rem 0;
  font-weight: 500;
  width: 17rem;
  justify-content: space-between;
}

.totalTitle {
  margin-top: 1rem;  
}

.totalStyle, .stocksStyle, .cryptoStyle {
  padding-bottom: 1.3rem;
  font-weight: 500;
}

.totalStyle, .stocksStyle { 
  color: #33CC00;
}

.cryptoStyle {
  color: #FF4D4D;
}