.register {
  display: flex;
  justify-content: end;
}

.login, .signup {
  font-weight: 500;
  margin: 2rem 4rem 0 4rem;
  padding: 0.313rem 0.938rem;
  font-size: 1.2rem;
  /* outline: 2px solid #784E3D; */
  /* border-radius: 25px; */
}

.login:hover, .signup:hover {
  background-color: #784E3D;
  color:#FFE5CC;
  padding: 0.313rem .938rem;
}

.header, .titleContainer, .dashboardImageContainer {
  display: flex;
  align-content: center;
  justify-content: center;
}

.logo {
  position: relative;
  font-size: 2.5rem;
  margin: 0 0 2rem 5rem;
  font-family: "Poppins",;
  background-image: linear-gradient(to right, #784E3D, #3D2216);
  background-clip: text;
  color: transparent;
}

.title {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  width: 60%;
  margin-top: 2rem;
}

.dashboardImageContainer {
  margin-top: 5rem;
}

.dashboardImage {
  height: 32rem;
  width: 50rem;
  outline: 3px solid #784E3D;
  border-radius: 10px;
}