.container {
  background-color: #FEC48D;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 48rem;
  max-width: 100%;
  min-height: 30rem;
}

.container p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.3px;
  margin: 1.25rem 0;
}

.container span {
  font-size: .75rem;
}

.container a {
  color: #333;
  font-size: .813rem;
  text-decoration: none;
  margin: .938rem 0 .625rem;
}

.container button {
  background-color: #784E3D;
  color: #FFE5CC;
  font-size: .75rem;
  padding: .625rem 2.813rem;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: .625rem;
  cursor: pointer;
}

.container button.hidden {
  background-color: transparent;
  border-color: #FEC48D;
}

.container form {
  background-color: #FEC48D;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2.5rem;
  height: 100%;
}

.container input {
  background-color: #FFE5CC;
  border: 1px solid #784E3D;
  margin: 0.5rem 0;
  padding: .625rem .938rem;
  font-size: .813rem;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%, 49.99% {
      opacity: 0;
      z-index: 1;
  }
  50%, 100% {
      opacity: 1;
      z-index: 5;
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
  border: 1px solid #784E3D;
  border-radius: 30px;
  padding: 0 1.875rem;
}

.google {
  margin: 0 .188rem;
  margin-bottom: .313rem;
  width: 1.6rem;
  height: 1.6rem;
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-color: #784E3D;
  height: 100%;
  background: linear-gradient(to right, #9F8175, #784E3D);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
  background: linear-gradient(to right, #784E3D, #9F8175);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1.875rem;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(200%);
}

.line  {
  position: relative;
  outline: 1px solid #784E3D;
  width: 100%;
  margin-top: 2vh;
}

.signInButton {
  background-color: #784E3D;
}

.signInHeader {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#register, #login {
  background-color: transparent;
  border: 1px solid #FFE5CC;
}

.welcome {
  font-size: 3rem; 
}

.toggle-right, .toggle-left {
  color: #FFE5CC;
}

.toggle-right p {
  margin: 2.5rem 0;
  font-size: 1.25rem;
  width: 90%;
}

.createAccountHeader {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.account {
  font-size: 2.5rem;
  width: 110%;
}

.signInHeader, .welcome, .createAccountHeader, .account {
  font-weight: 800;
}

.tabContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.headerText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 6rem;
  margin-bottom: 3rem;
}

.home {
  font-weight: 500;
  margin: 2rem 8rem 0 4rem;
  padding: 0.313rem 0.938rem;
  font-size: 1.3rem;
  display: flex;
  /* outline: 1px solid #784E3D;
  border-radius: 25px; */
}

.home:hover {
  background-color: #784E3D;
  color:#FFE5CC;
  padding: 0.313rem 0.938rem;
}

.investify {
  font-size: 2.5rem;
  margin: 4rem 0 0 5rem;
  font-family: "Poppins",;
  background-image: linear-gradient(to right, #784E3D, #3D2216);
  background-clip: text;
  color: transparent;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  width: 2.3rem;
  height: auto;
}